
<h2 mat-dialog-title>Edit user</h2>
<mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <input matInput [(ngModel)]="dataSource.firstname" placeholder="firstname" formControlName="firstname">
        <mat-error *ngIf="hasError('firstname', 'required')">Firstname is required</mat-error>
        <mat-error *ngIf="hasError('firstname', 'maxlength')">You have more than 30 characters</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput [(ngModel)]="dataSource.lastname" placeholder="lastname" formControlName="lastname">
      <mat-error *ngIf="hasError('lastname', 'required')">Firstname is required</mat-error>
      <mat-error *ngIf="hasError('lastname', 'maxlength')">You have more than 30 characters</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="dataSource.login" placeholder="login" formControlName="login">
    <mat-error *ngIf="hasError('login', 'required')">Firstname is required</mat-error>
    <mat-error *ngIf="hasError('login', 'maxlength')">You have more than 30 characters</mat-error>
</mat-form-field>
<br>
<mat-form-field>
  <input matInput [(ngModel)]="dataSource.password" placeholder="password" formControlName="password">
  <mat-error *ngIf="hasError('password', 'required')">Firstname is required</mat-error>
  <mat-error *ngIf="hasError('password', 'maxlength')">You have more than 30 characters</mat-error>
</mat-form-field>
<br>
<mat-form-field>
  <mat-label>role</mat-label>
  <mat-select [(value)]="selectedrole" formControlName="selectedrole" [(ngModel)]="dataSource.role" >
    <mat-option value="admin">admin</mat-option>
    <mat-option value="user">user</mat-option>
  </mat-select>
  <mat-error *ngIf="hasError('password', 'required')">Firstname is required</mat-error>
</mat-form-field>
<br>
<mat-form-field>
  <mat-label>active</mat-label>
  <mat-select [(value)]="selectedactive" formControlName="selectedactive" [(ngModel)]="dataSource.active" >
    <mat-option [value]="true">true</mat-option>
    <mat-option [value]="false">false</mat-option>
  </mat-select>
  <mat-error *ngIf="hasError('password', 'required')">Firstname is required</mat-error>
</mat-form-field>
<br>
</mat-dialog-content>
<div class="div-edit">
<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Cancel</button>
    <button class="mat-raised-button mat-primary"(click)="save()" [disabled]="!form.valid">Save</button>
</mat-dialog-actions>
</div>