    <div class="div-register">
        <section fxLayout="row wrap" fxLayoutAlign="center center">
          <mat-card fxLayoutAlign="center center" style="width: 25vw;">
            <mat-card-title align="center">Register</mat-card-title>
            <form [formGroup]="Form" autocomplete="off" novalidate (ngSubmit)="onCreate(Form.value)" fxLayout="column wrap"
              fxLayoutAlign="center center" fxLayoutGap="20px">
              <mat-card-content align="center">
                <br>
                <mat-form-field>
                  <input matInput type="text" placeholder="firstname" formControlName="firstname" [(ngModel)]="user.firstname" id="firstname">
                  <mat-error *ngIf="hasError('firstname', 'required')">Firstname is required</mat-error>
                  <mat-error *ngIf="hasError('firstname', 'maxlength')">You have more than 30 characters</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <input matInput type="text" placeholder="lastname" formControlName="lastname" [(ngModel)]="user.lastname" id="lastname">
                  <mat-error *ngIf="hasError('lastname', 'required')">Lastname is required</mat-error>
                  <mat-error *ngIf="hasError('lastname', 'maxlength')">You have more than 30 characters</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <input matInput type="text" placeholder="login" formControlName="login" [(ngModel)]="user.login" id="login">
                  <mat-error *ngIf="hasError('login', 'required')">Login Type is required</mat-error>
                  <mat-error *ngIf="hasError('login', 'maxlength')">You have more than 30 characters</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                  <input matInput type="password" placeholder="password" formControlName="password" [(ngModel)]="user.password" id="password">
                  <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
                  <mat-error *ngIf="hasError('password', 'maxlength')">You have more than 30 characters</mat-error>
                </mat-form-field>
                <br>
                
              </mat-card-content>
              <mat-card-actions align="center">
                <button mat-raised-button color="primary" [disabled]="!Form.valid">Create account</button>
              </mat-card-actions>
            </form>
          </mat-card>
        </section>
        </div>
            
        