<div *ngIf="info.token; else loggedOut">
    <div class="div-over">
        <div class="div-car">
            <section [hidden]="submittedcar" fxLayout="row wrap" fxLayoutAlign="center center">
                <mat-card fxLayoutAlign="center center" style="width: 25vw;">
                    <mat-card-title align="center">Create new car advertisment</mat-card-title>
                    <form [formGroup]="Form" autocomplete="off" novalidate (ngSubmit)="onCarCreate()" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
                        <mat-card-content align="center">

                            <mat-form-field>
                                <mat-label>Manufacturer</mat-label>
                                <mat-select formControlName="manufacturer">
                                    <mat-option *ngFor="let man of manufacturers" [value]="man"> {{man.name}} </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <input matInput type="text" placeholder="model" formControlName="model" id="model" [(ngModel)]="car.model">
                                <mat-error *ngIf="hasError('model', 'required')">Model is required</mat-error>
                                <mat-error *ngIf="hasError('model', 'maxlength')">You have more than 30 characters</mat-error>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <input matInput type="text" placeholder="color" formControlName="color" id="color" [(ngModel)]="car.color">
                                <mat-error *ngIf="hasError('color', 'required')">Color is required</mat-error>
                                <mat-error *ngIf="hasError('color', 'maxlength')">You have more than 30 characters</mat-error>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <input matInput type="text" placeholder="body" formControlName="body" id="body" [(ngModel)]="car.body">
                                <mat-error *ngIf="hasError('body', 'required')">Body Type is required</mat-error>
                                <mat-error *ngIf="hasError('body', 'maxlength')">You have more than 30 characters</mat-error>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <input matInput type="text" placeholder="capacity" formControlName="capacity" id="capacity" [(ngModel)]="car.capacity">
                                <mat-error *ngIf="hasError('capacity', 'required')">Capacity is required</mat-error>
                                <mat-error *ngIf="hasError('capacity', 'maxlength')"></mat-error>
                                <mat-error *ngIf="hasError('capacity', 'pattern')">Wrong capacity value (number.number)</mat-error>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <input matInput type="number" placeholder="price" formControlName="price" id="price" [(ngModel)]="car.price">
                                <mat-error *ngIf="hasError('price', 'required')">Price is required</mat-error>
                                <mat-error *ngIf="hasError('price', 'maxlength')">You have more than 30 characters</mat-error>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <input matInput type="number" placeholder="mileage" formControlName="mileage" id="mileage" [(ngModel)]="car.mileage">
                                <mat-error *ngIf="hasError('mileage', 'required')">Mileage is required</mat-error>
                                <mat-error *ngIf="hasError('mileage', 'maxlength')">You have more than 30 characters</mat-error>
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <input matInput type="number" placeholder="year" formControlName="year" id="year" [(ngModel)]="car.year">
                                <mat-error *ngIf="hasError('year', 'required')">Year is required</mat-error>
                                <mat-error *ngIf="hasError('year', 'pattern')">Unpropper year value</mat-error>
                            </mat-form-field>

                        </mat-card-content>
                        <mat-card-actions align="center">
                            <button mat-raised-button color="primary" [disabled]="!Form.valid">Create</button>
                        </mat-card-actions>
                    </form>
                </mat-card>
            </section>
            <div [hidden]="!submittedcar">
                <div class="div-mansucces">
                    <mat-card fxLayoutAlign="center center" style="width: 25vw;">
                        <mat-card-title align="center">You submitted successfully</mat-card-title>
                        <form [formGroup]="FormManufacturer" autocomplete="off" novalidate fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
                            <mat-card-actions align="center">
                                <button mat-raised-button color="primary" (click)="newCar()">Add next</button>
                            </mat-card-actions>
                        </form>
                    </mat-card>
                </div>
            </div>
        </div>


        <div class="div-man">
            <div [hidden]="submitted">
                <div class="div-man">
                    <section fxLayout="row wrap" fxLayoutAlign="center center">
                        <mat-card fxLayoutAlign="center center" style="width: 25vw;">
                            <mat-card-title align="center">Create new manufacturer</mat-card-title>
                            <form [formGroup]="FormManufacturer" autocomplete="off" novalidate (ngSubmit)="onCreate()" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
                                <mat-card-content align="center">
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="name" formControlName="namem" id="namem" [(ngModel)]="manu.name" name="namem">
                                        <mat-error *ngIf="hasErrors('namem', 'required')">Name is required</mat-error>
                                        <mat-error *ngIf="hasErrors('namem', 'maxlength')">You have more than 30 characters</mat-error>
                                    </mat-form-field>
                                    <br>
                                    <mat-form-field>
                                        <input matInput type="text" placeholder="country" formControlName="country" id="country" [(ngModel)]="manu.country" name="country">
                                        <mat-error *ngIf="hasErrors('country', 'required')">Country is required</mat-error>
                                        <mat-error *ngIf="hasErrors('country', 'maxlength')">You have more than 30 characters</mat-error>
                                    </mat-form-field>

                                </mat-card-content>
                                <mat-card-actions align="center">
                                    <button mat-raised-button color="primary" [disabled]="!FormManufacturer.valid">Create</button>
                                </mat-card-actions>
                            </form>
                        </mat-card>
                    </section>
                </div>
            </div>
            <div [hidden]="!submitted">
                <div class="div-mansucces">
                    <mat-card fxLayoutAlign="center center" style="width: 25vw;">
                        <mat-card-title align="center">You submitted successfully</mat-card-title>
                        <form [formGroup]="FormManufacturer" autocomplete="off" novalidate fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="20px">
                            <mat-card-actions align="center">
                                <button mat-raised-button color="primary" (click)="newManufacturer()">Add next</button>
                            </mat-card-actions>
                        </form>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #loggedOut>
    <h1 style="margin: 10vh; text-align: center"> Please login</h1>
</ng-template>