<h3>Find user</h3>
<div style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="lastname">Age</label>
      <input type="text" class="form-control" id="age" required [(ngModel)]="age" name="age">
    </div>

    <div class="btn-group">
        <button mat-raised-button type="submit" class="btn btn-success" color="warn" style="padding: 1px">Submit</button>
     
    </div>
  </form>
</div>

<mat-list>
  <h3 mat-subheader>Customers</h3>
  <mat-list-item *ngFor="let customer of customers">
    <mat-icon mat-list-icon>{{customer.name}}</mat-icon>
    <h4 mat-line> Name: {{customer.name}} </h4>
    <h4 mat-line> ID: {{customer.id}} </h4>
    <p mat-line> Age: {{customer.age}} </p>
    <hr/>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>