<h1 style="text-align: center">Cars</h1>
<div class="createdfilter">
  <div align="centre">
    <div>
      Choose element to filter cars
    </div>
    <br>
    <button style="margin:0 20px;padding: 10px; color: rgb(255, 255, 255);" color="primary" mat-raised-button
      (click)="onSearch()">Search</button>
    <button style="margin:0 20px;padding: 10px; color: rgb(255, 255, 255); background-color: rgb(212, 196, 48);" mat-raised-button
      (click)="onClear()">Clear</button>
  </div>
  <div class="createdfilter">
  </div>
  <form [formGroup]="form" autocomplete="off" novalidate>
    <mat-form-field style="padding: 20px">
      <mat-label>manufacturer</mat-label>
      <mat-select formControlName="manufacturers" (ngModelChange)="onChange()">
        <mat-option value='%%'>None</mat-option>
        <mat-option *ngFor="let man of manufacturers" [value]="man"> {{man.name}} </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field style="padding: 20px">
        <mat-label>capacity</mat-label>
        <mat-select formControlName="capacity">
          <mat-option value=''>None</mat-option>
          <mat-option *ngFor="let cap of capacity" [value]="cap"> {{cap | number:'1.1'}} </mat-option>
        </mat-select>
      </mat-form-field>
  </form>
  <div class="createdfilter">
    <form [formGroup]="form">
      <mat-form-field style="padding: 20px">
        <mat-label>model</mat-label>
        <mat-select formControlName="model" [disabled]="modelblock">
          <mat-option value='%%'>None</mat-option>
          <mat-option *ngFor="let mod of model" [value]="mod"> {{mod}} </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field style="padding: 20px">
        <mat-label>body</mat-label>
        <mat-select formControlName="body">
          <mat-option value='%%'>None</mat-option>
          <mat-option *ngFor="let b of body" [value]="b"> {{b}} </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
    </form>
  </div>
  <div class="createdfilter">
    <form [formGroup]="form" autocomplete="off" novalidate>
      <mat-form-field style="padding: 20px">
        <mat-label>color</mat-label>
        <mat-select formControlName="color">
          <mat-option value='%%'>None</mat-option>
          <mat-option *ngFor="let c of color" [value]="c"> {{c}} </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field style="padding: 20px">
          <mat-label>status</mat-label>
          <mat-select formControlName="status">
            <mat-option value='empty'>None</mat-option>
            <mat-option value="sold">Sold</mat-option>
            <mat-option value="for_sale">For sale</mat-option>
            <mat-option value="offer_to_buy">Offer to buy</mat-option>
          </mat-select>
        </mat-form-field>
    </form>
  </div>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Country </th>
      <td mat-cell *matCellDef="let row"> {{row.manufacturer.country}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Manufacturer </th>
      <td mat-cell *matCellDef="let row"> {{row.manufacturer.name}} </td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Model </th>
      <td mat-cell *matCellDef="let row"> {{row.model}} </td>
    </ng-container>

    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
      <td mat-cell *matCellDef="let row"> {{row.color}} </td>
    </ng-container>

    <ng-container matColumnDef="body">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Body Type </th>
      <td mat-cell *matCellDef="let row"> {{row.body}} </td>
    </ng-container>

    <ng-container matColumnDef="capacity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Capacity </th>
      <td mat-cell *matCellDef="let row"> {{row.capacity | number:'1.1'}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let row"> {{row.price}} </td>
    </ng-container>

    <ng-container matColumnDef="mileage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Mileage </th>
      <td mat-cell *matCellDef="let row"> {{row.mileage}} </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
      <td mat-cell *matCellDef="let row"> {{row.year}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let row" class="cell-status">
        <a *ngIf="row.status === 'sold'" class="verified-button-sold">
          Sold
        </a>
        <a *ngIf="row.status === 'for_sale'" class="verified-button-for_sale">
          For sale
        </a>
        <a *ngIf="row.status === 'offer_to_buy'" class="verified-button-offer_to_buy">
          Offer to buy
        </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="buy">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="redirectToBuy(dataSource.data.indexOf(row))">
          <mat-icon>shopping_cart </mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="redirectToEdit(dataSource.data.indexOf(row))">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="redirectToDelete(dataSource.data.indexOf(row))">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 40, 100]"></mat-paginator>
</div>