table{
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
  }
  
  .verified-button-sold{
      color: rgb(0, 0, 0);
      background-color:tomato;
  }

  .verified-button-for_sale{
    color: rgb(0, 0, 0);
    background-color: rgb(34, 204, 43);
    
}

.verified-button-offer_to_buy{
    color: rgb(0, 0, 0);
    background-color: rgb(34, 88, 204);
}


.customfilter{
    display:flex;
    justify-content:center;
    align-items:center;
    float: left;
    margin: 20px;
}

.createdfilter{
    display:flex;
    justify-content:center;
    align-items:center;
    float: left;
    margin: 20px;
}

.mat-table {
    border: 1px solid #cfcfcf;
    font-weight: bold;
}

th{
    background-color: rgb(228, 228, 228);
    font-weight: bold;
    color: black;
    font-size: 17px;
}

.cell-status{
    /* text-align: center;
    border: 1px solid #cfcfcf;
    font-size: 18px; */
    color: white;
}