table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
}

.verified-button-sold {
    color: rgb(0, 0, 0);
    background-color: tomato;
}

.verified-button-sold[disabled] {
    color: rgb(0, 0, 0);
}

.verified-button-for_sale {
    color: rgb(0, 0, 0);
    background-color: rgb(34, 204, 43);
}

.verified-button-for_sale[disabled] {
    color: rgb(0, 0, 0);
}

.verified-button-offer_to_buy {
    color: rgb(0, 0, 0);
    background-color: rgba(42, 153, 243, 0.829);
}

.verified-button-offer_to_buy[disabled] {
    color: rgb(0, 0, 0);
}

.customfilter {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin: 20px;
}

.createdfilter {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin: 20px;
}

.mat-table {
    border: 1px solid #cfcfcf;
    font-weight: bold;
    height: 30vh !important;
}

th {
    background-color: rgb(228, 228, 228);
    font-weight: bold;
    color: black;
    font-size: 17px;
}

.cell-status {
    color: white;
}

.paginator {
    font-size: 15px;
}