<div *ngIf="car">
    <!-- <div>
      <label>Id: </label> {{car.id}}
    </div> -->
    <div>
        <label>Country: </label> {{car.country}}
      </div>
    <div>
      <label>Manufacturer: </label> {{car.manufacturer}}
    </div>
    <div>
      <label>Model: </label> {{car.model}}
    </div>
    <div>
     <label>Color: </label> {{car.color}}
    </div>
    <div>
     <label>Body Type: </label> {{car.body}}
    </div>
    <div>
     <label>Capacity: </label> {{car.capacity}}
    </div>
    <div>
     <label>Price: </label> {{car.price}}
    </div>
    <button mat-raised-button color="primary" style="padding: 1px">Buy</button>
    <hr/>
  </div>
