<h2 mat-dialog-title align="center">Edit user</h2>
<mat-dialog-content [formGroup]="form" class="mdc-edit" align="center">
    <mat-form-field>
      <mat-label>Manufacturer</mat-label>
      <mat-select [(ngModel)]="dataSource.manufacturer.name" formControlName="manufacturer" >
        <mat-option *ngFor="let man of manufacturers" [value]="man.name" > {{man.name}} </mat-option>
      </mat-select>
    </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="dataSource.model" placeholder="model" formControlName="model">
    <mat-error *ngIf="hasError('model', 'required')">Model is required</mat-error>
    <mat-error *ngIf="hasError('model', 'maxlength')">You have more than 30 characters</mat-error>
</mat-form-field>
<br>
<mat-form-field>
  <input matInput [(ngModel)]="dataSource.body" placeholder="body" formControlName="body">
  <mat-error *ngIf="hasError('body', 'required')">Body Type is required</mat-error>
  <mat-error *ngIf="hasError('body', 'maxlength')">You have more than 30 characters</mat-error>
</mat-form-field>
<br>
<mat-form-field>
  <input matInput [(ngModel)]="dataSource.color" placeholder="color" formControlName="color">
  <mat-error *ngIf="hasError('color', 'required')">Color is required</mat-error>
  <mat-error *ngIf="hasError('color', 'maxlength')">You have more than 30 characters</mat-error>
</mat-form-field>
<br>
<mat-form-field>
  <input matInput [(ngModel)]="dataSource.capacity" placeholder="capacity" formControlName="capacity">
  <mat-error *ngIf="hasError('capacity', 'required')">Capacity is required</mat-error>
  <mat-error *ngIf="hasError('capacity', 'maxlength')"></mat-error>
  <mat-error *ngIf="hasError('capacity', 'pattern')">Wrong capacity value (number.number)</mat-error>
</mat-form-field>
<br>
<mat-form-field>
  <input matInput [(ngModel)]="dataSource.price" placeholder="price" formControlName="price">
  <mat-error *ngIf="hasError('price', 'required')">Price is required</mat-error>
  <mat-error *ngIf="hasError('price', 'maxlength')">You have more than 30 characters</mat-error>
</mat-form-field>
<br>
<mat-form-field>
  <input matInput [(ngModel)]="dataSource.mileage" placeholder="mileage" formControlName="mileage">
  <mat-error *ngIf="hasError('mileage', 'required')">Mileage is required</mat-error>
  <mat-error *ngIf="hasError('mileage', 'maxlength')">You have more than 30 characters</mat-error>
</mat-form-field>
<br>
<mat-form-field>
  <input matInput [(ngModel)]="dataSource.year" placeholder="year" formControlName="year">
  <mat-error *ngIf="hasError('year', 'required')">Year is required</mat-error>
  <mat-error *ngIf="hasError('year', 'pattern')">Unpropper year value</mat-error>
</mat-form-field>
<br>
<mat-form-field>
  <mat-label>status</mat-label>
  <mat-select [(value)]="status" formControlName="status" [(ngModel)]="dataSource.status" >
    <mat-option value="sold">Sold</mat-option>
    <mat-option value="for_sale">For sale</mat-option>
    <mat-option value="offer_to_buy">Offer to buy</mat-option>
  </mat-select>
</mat-form-field>
</mat-dialog-content>
<div class="div-edit">
<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Cancel</button>
    <button class="mat-raised-button mat-primary"(click)="save()" [disabled]="!form.valid">Save</button>
</mat-dialog-actions>
</div>