<!-- <h3>Sign in</h3>
<div [hidden]="logging" style="width: 300px;">
  <form (ngSubmit)="onLogin()">
    <div class="form-group">
      <label for="login">Login</label>
      <input type="text" class="form-control" id="login" required [(ngModel)]="user.login" name="login">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" class="form-control" id="password" required [(ngModel)]="user.password" name="password">
    </div>

    <button type="login" class="btn btn-success">Login</button>
  </form>
</div>

<div [hidden]="!logging">
  <h4>Logging in,please wait!</h4>
  <button class="btn btn-success" (click)="LogginTonewCustomerApp()">Back</button>
</div> -->


<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="700px" fxFlex.xs="200%" fxLayoutAlign="center center">
    <mat-card-title align="center">Sign in</mat-card-title>
    <form [formGroup]="Form" autocomplete="off" novalidate (ngSubmit)="loggin(Form.value)" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="20px">
      <mat-card-content align="center">

        <mat-form-field>
          <input matInput type="text" placeholder="login" formControlName="login" id="login">
          <mat-error *ngIf="hasError('login', 'required')">Login is required</mat-error>
          <mat-error *ngIf="hasError('login', 'maxlength')">You have more than 30 characters</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field >
          <input matInput type="password" placeholder="password" formControlName="password">
          <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!Form.valid">Sign in</button>
        <button type="button" mat-raised-button color="warn" (click)="onCreate()">Create account</button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>