<mat-toolbar color="primary">
<mat-toolbar-row>
  <span>{{title}}</span>
  <span class="example-spacer"></span>
  <mat-icon class="example-icon" aria-hidden="false" aaria-label="">home</mat-icon>
</mat-toolbar-row>
</mat-toolbar>

<mat-toolbar color="warn">
  <mat-toolbar-row>
<div style="padding: 10px;">
  <nav style="padding: 10px;" >
    <a mat-button routerLink="login" class="btn btn-primary active" role="button" routerLinkActive="active" style="padding: 20px">  Login  </a>
    <a mat-button routerLink="register" class="btn btn-primary active" role="button" routerLinkActive="active" style="padding: 20px">  Register  </a>
    <a mat-button routerLink="users" class="btn btn-primary active" role="button" routerLinkActive="active" style="padding: 10px">  Users  </a>
    <a mat-button routerLink="car" class="btn btn-primary active" role="button" routerLinkActive="active" style="padding: 10px">  Cars  </a>
    <a mat-button routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active" style="padding: 10px">  Add </a>
    <a mat-button routerLink="addcars" class="btn btn-primary active" role="button" routerLinkActive="active" style="padding: 10px">  Add cars </a>
    <a mat-button routerLink="searchusers" class="btn btn-primary active" role="button" routerLinkActive="active" style="padding: 10px">  Search users </a>
    <a mat-button routerLink="searchcars" class="btn btn-primary active" role="button" routerLinkActive="active" style="padding: 10px">  Search cars </a>
    <a mat-button routerLink="edit" class="btn btn-primary active" role="button" routerLinkActive="active" style="padding: 10px">  Edit  </a>
  </nav>
</div>
</mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>