<mat-toolbar color="primary">
<mat-toolbar-row>
  <span>{{title}}</span>
  <span class="example-spacer"></span>
  <div class="div-ico">
  <button mat-icon-button routerLink="/card" routerLinkActive="active">
    <mat-icon class="example-icon" aria-hidden="false" aaria-label="">shopping_basket</mat-icon>
  </button>
  </div>
</mat-toolbar-row>
</mat-toolbar>

<mat-toolbar color="warn">
  <mat-toolbar-row>
<div style="padding: 10px;">
  <nav style="padding: 10px;" >
    <a mat-button routerLink="login" class="btn btn-primary active" role="button" routerLinkActive="active" style="padding: 20px">  Login  </a>
    <a mat-button routerLink="users" class="btn btn-primary active" role="button" routerLinkActive="active" style="padding: 10px">  Users  </a>
    <a mat-button routerLink="car" class="btn btn-primary active" role="button" routerLinkActive="active" style="padding: 10px">  Cars  </a>
    <a mat-button routerLink="addcars" class="btn btn-primary active" role="button" routerLinkActive="active" style="padding: 10px">  Add cars </a>
  </nav>
</div>
</mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>